 .u-section-1 {
  background-image: linear-gradient(#2e3192, #d6b041);
}

.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-image-1 {
  width: 587px;
  height: 587px;
  background-image: url("images/logo_kolo_zolte212.png");
  background-position: 50% 50%;
  margin: -54px auto 0 27px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -310px 20px 60px 642px;
}

.u-section-1 .u-btn-1 {
  font-family: Montserrat-Thin;
  font-size: 3rem;
  font-weight: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    width: 542px;
    height: 542px;
    margin-top: -26px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-top: -320px;
    margin-right: 0;
    margin-left: 518px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -91px;
    margin-left: -35px;
  }

  .u-section-1 .u-text-1 {
    margin: -27px 12px 18px 321px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-image-1 {
    width: 455px;
    height: 455px;
    margin-top: -54px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-1 {
    width: 431px;
    margin: 53px auto 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-image-1 {
    width: 214px;
    height: 214px;
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 26px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(46,49,146,0.45), rgba(46,49,146,0.45)), url("images/gwiadzista_21.jpg");
  background-position: 100% 100%;
  background-size: 125%;
}

.u-section-2 .u-sheet-1 {
  min-height: 667px;
}

.u-section-2 .u-text-1 {
  font-family: Montserrat-Regular;
  margin: 93px auto 0;
}

.u-section-2 .u-group-1 {
  width: 433px;
  min-height: 290px;
  background-image: none;
  margin: 93px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 50px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-family: Merriweather, serif;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 59px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 49px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  margin: -170px 0 60px 583px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-text-4 {
    font-family: Montserrat, sans-serif;
    width: auto;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-size: auto 125%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-group-1 {
    width: 439px;
    min-height: 330px;
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -218px;
    margin-left: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-group-1 {
    width: 353px;
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -313px;
    margin-right: -20px;
    margin-left: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-group-1 {
    width: 289px;
    min-height: 290px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    margin: 12px -9px 30px 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 784px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 634px;
  background-image: linear-gradient(0deg, rgba(213,181,32,0.45), rgba(213,181,32,0.45)), url("images/af6e4772ea37e021bd6a54bafff47afe97cd9a3047709e168f4b52e0b6689bcdf4bdbc32b9bf74bad02e4c830cd8ac6072427965ab7211416098e7_1280.jpg");
  background-position: 59.63% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 264px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 370px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 370px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3 .u-image-1 {
    min-height: 523px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 305px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-3 .u-image-1 {
    min-height: 801px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-image-1 {
    min-height: 601px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-3 .u-image-1 {
    min-height: 378px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 56px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 484px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Montserrat-Regular;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-family: Montserrat-Regular;
  margin: 18px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-family: Montserrat-Regular;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-family: Montserrat-Regular;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-family: Montserrat-Regular;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 484px;
}

.u-section-4 .u-container-layout-2 {
  padding: 19px 0 0;
}

.u-section-4 .u-text-6 {
  font-family: Montserrat-Regular;
  margin: 11px auto 0 40px;
}

.u-section-4 .u-list-1 {
  width: 329px;
  margin: 7px auto 0 13px;
}

.u-section-4 .u-repeater-1 {
  min-height: 510px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  align-self: flex-end;
  font-family: Montserrat-Regular;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 2px;
  align-self: flex-end;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-btn-3 {
  letter-spacing: 2px;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-btn-4 {
  letter-spacing: 2px;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-btn-5 {
  letter-spacing: 2px;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-btn-6 {
  letter-spacing: 2px;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 484px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 16px;
}

.u-section-4 .u-text-7 {
  font-family: Montserrat-Regular;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-form-1 {
  height: 201px;
  margin: 0 49px 0 0;
}

.u-section-4 .u-label-1 {
  font-family: Montserrat-Regular;
  font-size: 0.75rem;
}

.u-section-4 .u-input-1 {
  font-family: Montserrat-Regular;
}

.u-section-4 .u-label-2 {
  font-family: Montserrat-Regular;
  font-size: 0.75rem;
}

.u-section-4 .u-input-2 {
  font-family: Montserrat-Regular;
}

.u-section-4 .u-btn-7 {
  font-family: Montserrat-Regular;
}

.u-section-4 .u-text-8 {
  font-family: Montserrat-Thin;
  font-weight: 100;
  font-size: 0.625rem;
  margin: 30px auto 0 14px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-4 .u-list-1 {
    width: 313px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 240px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Montserrat-Thin.ttf);
}@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Montserrat-Regular.ttf);
}